.react-ui-numeric-input {
	display: flex;
	flex-direction: row;
	flex: 1;

	height: 40px;
}

.react-ui-numeric-input-btn {
	font-size: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	padding: 0;

	color: rgba(239, 176,  64, 1);
	border: none;
	background-color: #333333;
}

.react-ui-numeric-input-btn:focus {
	outline: none;
}

.react-ui-numeric-input-btn:active,
.react-ui-numeric-input-btn:hover {
	cursor: pointer;

	color: #333333;
	background-color: rgba(239, 176,  64, 1);
}

.react-ui-numeric-input-textfield {
	font-size: 25px;

	display: flex;
	flex: 1;

	width: 0;

	text-align: center;

	color: black;
	border: none;
	background-color: white;
}

.react-ui-numeric-input-textfield:focus {
	outline: none;
}
