/*
Component
*/

.react-ui-numeric-input {
	display: flex;
	flex-direction: row;
	flex: 1;

	height: 40px;
}

.react-ui-numeric-input.vertical {
	flex-direction: column-reverse;

	width: 40px;
	height: 100%;
}

/*
Buttons
*/

.react-ui-numeric-input > button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;

	cursor: pointer;
}

.react-ui-numeric-input > button:disabled {
	cursor: auto;
}

.react-ui-numeric-input > button.up:after {
	content: '+';
}

.react-ui-numeric-input > button.down:after {
	content: '-';
}

/*
Textfield
*/

.react-ui-numeric-input > input {
	flex: 1;

	width: 40px;
	min-width: 40px;
	min-height: 40px;
	padding: 0;

	text-align: center;

	border: none;
	outline: none;
}

.react-ui-numeric-input > input:disabled {
	background-color: white;
}
